html {
    height: 100%;
    font-size: 12px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #efefef;
    color: #535353;
    text-align: center;
    font-family: Verdana;
}

a, a:visited {
    color: #631825;
    text-decoration: none;
}

a:hover {
    color: #af8b87;
}

abbr {
    color: black;
}

#header {
    padding: 5px 0 20px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #c3c3c3;
    height: 80px;
}

#name {
    margin-top: 5px;
    float: left;
    color: #3f1a3e;
    font-size: 38px;
    width: 500px;
}

#name .description {
    font-size: 14px;
}

#name p {
    color: #535353;
}

#info {
    float: right;
}

#info ul {
    list-style: none;
}

#main {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

#content {
    padding: 4px 20px;
}


.objective {
    padding: 0 0 0 253px;
    font-size: 14px;
    color: black;
}

.section table tr td.dates {
    vertical-align: top;
    color: #a3635c;
    width: 200px;
    text-align: right;
}

.section table tr td.what {
    padding-left: 50px;
}

h3 {
    color: #631825;
    margin: 0;
}
.h4 {
    margin: 0;
}

.stars {
    color: #af8b87;
    text-align: right;
    width: 200px;
    vertical-align: top;
}

.context {
    text-align: right;
    color: #535353;
    width: 200px;
    padding: 0;
    margin: 0;
}

.awards {
    list-style-position: inside;
    text-align: left;
    width: 100%;
    padding-left: 53px;
}

.job-skills {
    margin: 2px;
    font-size: 11px;
    font-weight: bold;
}

@media screen {
    .printable {
        display: none;
    }

    .screenable {
        display: block;
    }
}

@media print {
    .printable {
        display: block;
    }

    .screenable {
        display: none;
    }
}
